﻿
.actionButton {
    cursor: pointer;
}
.lastRow {
    background-color: #ccc;
}

.indent {
    margin-left:5px;
}

.dataTypes th {
    width:20%;
    cursor: pointer;
}

.cardImage {
    height:50px;width:50px;margin-top:10px;
}

.dataTypesTable tr:first-child th {
    background-color: rgba(52, 56, 56, 0.89);
    color: #fff;
    font-weight: bold;
}

.gridContainer td {
    vertical-align: middle;
}

.statusRow {
    height:50px;
}

.cardContainer .col-md-3 {
    padding-left: 0px;
}

.gridContainer  div {
    padding-left: 0px;
}

.searchBar {
    display: inline-block;
    align-content: flex-end
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
